header {
    background-color: blueviolet;
}

.header-content {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 70px;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25px;
    height: 25px;
}

.burger-menu-icon {
    background-color: rgb(255, 255, 255);
    height: 4px;
    width: 100%;
    border-radius: 10px;
}

.headline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    background-color: white;
}

.heading-container {
    display: flex;
    align-items: center;
}

.heading {
    display: flex;
}

.menu-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 50px;
    font-size: 22px;
    width: 450px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: solid transparent;
    /* sorgt dafür dass beim hovern content nicht verschoben wird */
    border-width: 0px 10px 0px 10px;

}

a:hover {
    color: blueviolet;
    background-color: rgb(221, 189, 252);
    border-radius: 20px;
}

h1 {
    font-family: "Palanquin-Bold";
    font-size: 40px;
    color: blueviolet;
    margin: 0;
}

h2 {
    font-family: "Palanquin-Bold";
    font-size: 40px;
    margin: 0;
    padding-right: 20px;
}

h3 {
    font-size: 30px;
    color: white;
}

.burger-titles-fullwidth {
    background-color: blueviolet;
    display: flex;
    height: 60px;

    width: 100%;
    position: absolute;
    left: 0;
    top: 850px;
}

.pizza-titles-fullwidth {
    background-color: blueviolet;
    display: flex;
    height: 60px;

    width: 100%;
    position: absolute;
    top: 1710px;
    left: 0;
}

.salad-titles-fullwidth {
    background-color: blueviolet;
    display: flex;
    height: 60px;

    width: 100%;
    position: absolute;
    top: 2580px;
    left: 0;
}


.category-titles-content {
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

.burger-icon {
    width: 90px;
    height: 90px;
    margin-top: -30px;
    margin-left: 150px;
}

.pizza-icon {
    width: 90px;
    height: 90px;
    margin-left: 150px;
}

.salad-icon {
    width: 90px;
    height: 90px;
    margin-left: 150px;
}

.heading-text {
    margin: 0 0 50px 0;
    font-size: 25px;
    font-weight: bold;
}

.content-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 2px;

    /* background-color: rgb(201, 129, 45); */
}

.menu-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin-top: 70px;

}

.menu-content {
    /* display: flex;
    flex-direction: column;
    align-items: center; */



    width: calc(100% - 100px);
    padding: 80px 16px 16px 16px;
}

.single-menu-card {
    display: flex;
    position: relative;
    height: 150px;
    width: 700px;
    background-color: rgb(221, 189, 252);
    padding: 20px 10px 10px 10px;
    margin: 10px 10px 10px 90px;
    gap: 10px;
    border-radius: 20px;
}

.single-menu-img {
    height: 120px;
    width: 205px;
    border-radius: 15px;
    /* object-fit: unset; */
}

.name-price-con {
    display: flex;
    flex-direction: row;


}

.meal-name {
    font-size: 24px;
    margin: 0;
    width: 330px;
}

/* .price-container {
    position: relative;
    right: 20px;
    height: 50px;
    width: 70px;
} */

.price {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    position: absolute;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 70px;
}

.ingredients {
    width: 320px;
    font-size: 16px;
    margin: 0;
}

.add-to-basket-button {
    color: black;
    height: 30px;
    width: 135px;
    border: 0;
    border-radius: 20px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;

}

.add-to-basket-button:hover {
    color: blueviolet;
}

.add-to-basket-color {
    color: blueviolet;

}

.add-to-basket-text {
    margin-top: 5px;
}

footer {
    background-color: blueviolet;
    color: white;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.mobile-basket-dialog {
    display: none;
}






/* Responsive */

@media (max-width: 1000px) {
    .basket-container {
        display: none;
    }

    .basket {
        display: none;

        /* width: 300px;
        height: auto;
        margin-bottom: 70px;
        background-color: rgb(32, 33, 32);
        color: white;
        position: fixed;
        top: 0px; */
        /* left: 00px; */
        /* margin-top: 80px;
        border-radius: 20px 20px 20px 20px; */


        /* width: 100%; */
        /* height: 750px; */
        /* background-color: rgb(32, 33, 32); */
        /* color: white; */
        /* position: sticky; */
        /* top: 0px; */
        /* margin-top: 80px; */
        /* border-radius: 20px 0 0 20px; */
    }

    .basket-mobile-container {
        display: flex;
        justify-content: center;
        gap: 60px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
        background-color: rgb(32, 33, 32);
    }

    .basket-mobile-nav-bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 800px;
    }

    h5 {
        padding-top: 0;
    }

    .shopping-cart-img {
        width: 120px;
    }

    .mobile-basket-dialog.open {
        display: block;

        width: 350px;
        height: 550px;
        background-color: rgb(32, 33, 32);
        color: white;
        position: fixed;
        top: -80px;
        /* bottom: -50px; */
        margin-top: 80px;
        border: none;
        border-radius: 20px 20px 20px 20px;

        /* overflow: auto;
        overflow-x: hidden; */
    }

    .mobile-basket-menu-container {
        height: 270px;
        width: 360px;
        overflow: auto;
        overflow-x: hidden;
    }





    .mobile-basket-menu-container::-webkit-scrollbar {
        width: 10px;
        background-color: rgb(221, 189, 252);
        border-radius: 20px;
    }

    .mobile-basket-menu-container::-webkit-scrollbar-thumb {
        background-color: blueviolet;
        border-radius: 20px;
    }

    .mobile-basket {
        display: flex;
    }

    .menu-content {
        padding-top: 110px;
    }

    .pizza-titles-fullwidth {
        top: 1770px;
    }

    .salad-titles-fullwidth {
        top: 2660px;
    }

    footer {
        margin-bottom: 70px;
    }
}



/* @media (min-width: 1000px) {
    .basket {
        display: block;

        width: 200px;
        height: 750px;
        background-color: rgb(32, 33, 32);
        color: white;
        position: relative;
        top: 0px;
        left: 400px;
        margin-top: 80px;
        border-radius: 20px 0 0 20px;
    }
} */


@media (max-width: 850px) {
    .pizza-titles-fullwidth {
        top: 2330px;
    }

    .salad-titles-fullwidth {
        top: 3790px;
    }

    .single-menu-card {
        flex-direction: column;
        width: 500px;
        height: 280px;
        padding: 20px;
        margin-left: 20px;
    }

    .single-menu-img {
        object-fit: cover;
        object-position: 100%;
        width: auto;


        /* image-rendering: initial; */
    }



    .price {
        position: absolute;
        top: 265px;
        left: 20px;
    }



    .ingredients {
        width: 500px;
        height: auto;
        padding-bottom: 50px;
    }

    .category-titles-content {
        flex-direction: column;
    }

    .burger-icon {
        margin-top: -55px;
        margin-left: 0;
        height: 70px;
        width: 70px;
    }

    .burger-headline {
        margin: -5px;
        font-size: 0;

    }

    .burger-headline::after {
        content: "Burger";
        font-size: 24px;
    }

    .pizza-icon {
        margin-top: -40px;
        margin-left: 0;
        height: 70px;
        width: 70px;
    }

    .pizza-headline {
        margin: -20px;
    }

    .salad-icon {
        margin-top: -50px;
        margin-left: 0;
        height: 70px;
        width: 70px;
    }

    .salad-headline {
        margin: -20px;
    }

}

@media (max-width: 700px) {
    .heading-text {
        display: flex;
        text-align: center;
        width: 350px;
        font-size: 18px;

    }
}

@media (max-width: 650px) {
    .menu-content {
        margin: 0;
        padding: 110px 0 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pizza-titles-fullwidth {
        top: 2350px;
    }

    .salad-titles-fullwidth {
        top: 3830px;
    }

    /* .single-menu-card {
        display: flex;
        flex-direction: column;

        margin-left: 20px;
        /* width: 320px; */
    /* height: auto; */

    /* } */

    .ingredients {

        width: 450px;
    }





}





@media (max-width: 630px) {
    .menu-links {
        justify-content: center;
        width: 300px;
    }

    .pizza-titles-fullwidth {
        top: 2400px;
    }

    .salad-titles-fullwidth {
        top: 3900px;
        /* margin-bottom: 20px; */
    }

    .burger-logo {
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
    }

    .heading-container {
        display: flex;
        flex-direction: column-reverse;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 30px;
    }

    .heading-text {
        width: 250px;
    }

    .single-menu-card {
        display: flex;
        flex-direction: column;
        width: 230px;
        height: auto;
    }

    .ingredients {
        width: 230px;
        height: auto;
        padding-bottom: 50px;
    }

    .price {
        display: flex;
        position: absolute;
        left: 20px;
        bottom: -15px;
        margin-top: auto;
        /*schiebt container automatisch unter den darüberliegenden*/

    }

    footer {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .footer {
        margin: 0;

    }

    .mobile-basket-dialog.open {
        width: 260px;
    }

    .mobile-basket-menu-container {
        width: 270px;
    }

    .basket-mobile {
        justify-content: center;
        gap: 20px;
    }

    .basket-mobile-img {
        height: 35px;

    }

    .empty-basket-note {
        width: 270px;
    }

    .basket-menu-card {
        width: 210px;
    }

    .sub-total-container {
        width: 250px;
    }

    .delivery-container {
        width: 250px;
    }

    .total-container {
        width: 250px;
    }

    .buy-now-button {
        width: 250px;
    }



}

@media (max-width: 480px) {
    .single-menu-card {
        margin-left: 50px;
    }
}

@media (max-width: 380px) {
    .menu-container {
        width: auto;
    }

    .menu-content {
        width: 300px;
        /* margin-left: 10px; */
        padding-left: 0px;
    }

    .single-menu-card {
        width: 220px;
        margin-left: 20px;
        /* margin-left: 10px; */
        /* padding-right: 0; */
    }
}