header {
    background-color: blueviolet;
}

.header-content {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 50px;
}