header {
    background-color: blueviolet;
}

.header-content {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 70px;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25px;
    height: 25px;
}

.burger-menu-icon {
    background-color: rgb(255, 255, 255);
    height: 4px;
    width: 100%;
    border-radius: 10px;
}

.headline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    background-color: white;
}

.heading-container {
    display: flex;
    align-items: center;
}

.menu-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 50px;    
    font-size: 22px;
    width: 450px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: solid transparent;
    border-width: 0px 10px 0px 10px;

}

a:hover {
    color: blueviolet;
    background-color: rgb(221, 189, 252);
    border-radius: 20px;
}

h1 {
    font-family: "Palanquin-Bold";
    font-size: 40px;
    color: blueviolet;
    margin: 0;
}

h2 {
    font-family: "Palanquin-Bold";
    font-size: 40px;
    margin: 0;
    padding-right: 20px;
}

h3 {
    font-size: 30px;
    color: white;
}

.burger-titles-fullwidth {
    background-color: blueviolet;
    display: flex;
    height: 60px;

    width: 100%;
    position: absolute;
    left: 0;
    top: 850px;
}

.pizza-titles-fullwidth {
    background-color: blueviolet;
    display: flex;
    height: 60px;

    width: 100%;
    position: absolute;
    top: 1710px;
    left: 0;
}

.salad-titles-fullwidth {
    background-color: blueviolet;
    display: flex;
    height: 60px;

    width: 100%;
    position: absolute;
    top: 2580px;
    left: 0;
}


.category-titles-content {
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

.burger-icon {
    width: 90px;
    height: 90px;
    margin-top: -30px;
    margin-left: 150px;
}

.pizza-icon {
    width: 90px;
    height: 90px;
    margin-left: 150px;
}

.salad-icon {
    width: 90px;
    height: 90px;
    margin-left: 150px;
}

.heading-text {
    margin: 0 0 50px 0;
    font-size: 25px;
    font-weight: bold;
}

.content-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 2px;
    
    /* background-color: rgb(201, 129, 45); */
}

.menu-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin-top: 70px;

}

.menu-content {
    width: calc(100% - 100px);
    padding: 80px 16px 16px 16px;
}

.single-menu-card {
    display: flex;
    position: relative;
    height: 150px;
    width: 700px;
    background-color: rgb(221, 189, 252);
    padding: 20px 10px 10px 10px;
    margin: 10px 10px 10px 90px;
    gap: 10px;
    border-radius: 20px;
}

.single-menu-img {
    height: 120px;
    border-radius: 15px;
}

.name-price-con {
    display: flex;
    flex-direction: row;
}

.meal-name {
    font-size: 24px;
    margin: 0;
}

.price {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    position: absolute;
    right: 40px;
}

.ingredients {
    width: 320px;
    font-size: 16px;
    margin: 0;
}

.add-to-basket-button {
    background-image: url("./assets/icons/add-to-basket.svg");
    height: 30px;
    width: 115px;
    border: 0;
    border-radius: 20px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 16px;
    cursor: pointer;

}

.add-to-basket-button:hover {
    background-image: url("./assets/icons/add-to-basket-hover.svg");
    height: 30px;
    width: 115px;

}

footer {
    background-color: blueviolet;
    color: white;
    display: flex;
    justify-content: center;
    gap: 80px;
}