@font-face {
    font-family: "Palanquin-Regular";
    src: url("./Palanquin/Palanquin-Regular.ttf");
}

@font-face {
    font-family: "Palanquin-Bold";
    src: url("./Palanquin_Dark/PalanquinDark-Bold.ttf");
}