.hero-img {
    max-width: 1440px;
    margin: 0 auto;
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: 25%;
}

.burger-logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid darkorchid;
    margin-top: -110px;
}

.rating-img {
    height: 30px;
    margin-top: 10px;
}