.basket-container {
    width: 400px;
    flex-grow: 1;
    padding: 0 0 16px 16px;
}

.basket {
    width: 100%;
    height: 750px;
    background-color: rgb(32, 33, 32);
    color: white;
    position: sticky;
    top: 0px;
    margin-top: 80px;
    border-radius: 20px 0 0 20px;
}

.basket-mobile-nav-bar {
    display: none;
}

.basket-mobile-button {
    width: 60px;
    height: 45px;
    padding: 0;
    border: 5px solid transparent;
    border-radius: 30px;
    background-color: transparent;
    cursor: pointer;  
}

.basket-mobile-button:hover {
    background-color: rgb(221, 189, 252);
    border-color: transparent;
    border-radius: 30px;
    width: 60px;
    height: 45px;
}

.basket-mobile-img {
    height: 40px;
}

h5 {
    display: flex;
    justify-content: center;
    font-size: 28px;
    margin: 0px;
    margin-bottom: 20px;
    padding-top: 20px;
    color: rgb(221, 189, 252);
}

.empty-basket-note {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
    font-size: 22px;
    width: 350px;
    font-weight: bold;
    color: rgb(221, 189, 252);
}

.shopping-cart-img {
    width: 150px;
}

.single-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    overflow: auto;
    overflow-x: hidden;
    margin-top: 20px;
}

.single-menu-container::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(221, 189, 252);
    border-radius: 20px;
}

.single-menu-container::-webkit-scrollbar-thumb {
    background-color: blueviolet;
    border-radius: 20px;
}

.basket-menu-card {
    display: flex;
    flex-direction: column;
    color: black;
    font-weight: bold;
    font-size: 22px;
    background-color: rgb(221, 189, 252);
    border-radius: 20px;
    margin: 5px;
    padding: 10px 20px 20px 20px;
    width: 300px;
}

.basket-name-container {
    display: flex;
}

.basket-x {
    margin: 0px 10px 0px 0px;
}

.basket-menu-name {
    margin: 0;
    width: 230px;
}

.basket-amount-container {
    display: flex;
    justify-content: space-between;
}

.delete-button-container {
    position: relative;
    left: 10px;
}

.change-amount-container {
    display: flex;
}

.basket-amount {
    border: 0;
    background-color: transparent;
    height: 20px;
    width: 25px;
    margin: 0 0 0 0px;
    display: flex;
    justify-content: center;
}

.remove-amount {
    background-color: transparent;
    border: 0;
    margin-top: 8px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    height: 15px;
    color: black;
}

.add-amount {
    background-color: transparent;
    border: 0;
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    height: 15px;
    color: black;
}

.basket-menu-price {
    margin: 0;
}

.delete-menu-button {
    background-image: url("../assets/icons/trash.png");
    background-repeat: no-repeat;
    background-color: transparent;
    width: 16px;
    height: 18px;
    border: 0;
    margin-top: 12px;
    cursor: pointer;
}

.check-out-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-total-container {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 22px;
    width: 320px;
    margin: 0 40px 0 40px;
}

h6 {
    font-size: 22px;
    margin: 0;
}

.sub-price {
    margin: 0;
}

.delivery-container {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 22px;
    width: 320px;
    margin: 0 40px 0 40px;
}

.delivery-price {
    margin: 0;
}

.border {
    border-bottom: 1px solid;
    color: white;
    width: 80%;
}

.total-container {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 22px;
    width: 320px;
    margin: 0 40px 0 40px;
}

.total-price {
    margin: 0;
}

.buy-now-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 40px;
    background-color: blueviolet;
    font-size: 28px;
    width: 320px;
    height: 60px;
    gap: 10px;
    margin-top: 20px;
    cursor: pointer;
    color: black;
}

/* dialog style */
.ordered-dialog.opened {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    width: 250px;
    height: 170px;
    border: none;
    border-radius: 20px;
    padding-top: 40px;
    background-color: rgb(35, 35, 35);
}

.ordered-dialog::backdrop {
    opacity: 1;
    transition: all 1s ease-in;
    background-color: rgba(30, 29, 29, 0.432);
    backdrop-filter: blur(20px);
}

.ordered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car-image {
    height: 70px;
    width: 90px;
}

.order-confirmed {
    font-size: 24px;
    margin: 0;
    color: rgb(221, 189, 252);
}

.food-on-way {
    font-size: 22px;
    margin: 0;
    color: rgb(221, 189, 252);
}
/* dialog style ende */

.remove-basket {
    display: none;
}

.close-dialog-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -50px;
    left: 25px;
    border-radius: 50px;
    color: white;
    background-color: blueviolet;
    width: 25px;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
}

.badge-hide {
    display: none;
}